In [1]:
import pandas as pd
import os

In [5]:
def tt_by_hour(df_tt, hour):
    """Process hourly travel time averages."""
    df_tt = df_tt[df_tt['utc_time_id'].dt.hour.isin([hour])]
    tmc_operations = ({'avg_travel_time': 'mean'})
    df_tt = df_tt.groupby('source_id', as_index=False).agg(tmc_operations)
    df_avg_tt = df_tt.rename(
        columns={'avg_travel_time':'hour_{}_tt_min'.format(hour)})
    return df_avg_tt


def assemble_dataset():
    drive_path = 'C:/Users/saavedrak/metro_work/HERE_sandbox/data/'
    df_full = pd.DataFrame()
    for file in os.listdir(drive_path):
        df_temp = pd.read_csv(
            os.path.join(os.path.dirname('__file__'), drive_path, file),
            usecols=['source_ref', 'utc_time_id', 'source_id', 'avg_travel_time', 'avg_speed'])
        df_full = pd.concat([df_full, df_temp])
    return df_full

In [3]:
df = assemble_dataset()
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 50)

df = df.loc[df['source_ref'] == 'tmc']


df['utc_time_id'] = pd.to_datetime(df['utc_time_id'], errors='coerce')


"""
df = df.dropna(how='all')

source_id = df['source_id'].drop_duplicates().values.tolist()
tmc_format = {'source_id': source_id}
df_tmc = pd.DataFrame.from_dict(tmc_format)
"""

"\ndf = df.dropna(how='all')\n\nsource_id = df['source_id'].drop_duplicates().values.tolist()\ntmc_format = {'source_id': source_id}\ndf_tmc = pd.DataFrame.from_dict(tmc_format)\n"

In [4]:
print(df)

                utc_time_id source_ref  source_id  avg_speed  avg_travel_time
2       2017-05-02 07:00:00        tmc  114N51536      44.00             0.07
3       2017-05-02 17:35:00        tmc  114N51536      41.89             0.08
4       2017-05-02 07:05:00        tmc  114N51536      44.00             0.07
5       2017-05-02 07:10:00        tmc  114N51536      46.87             0.07
6       2017-05-02 07:15:00        tmc  114N51536      51.18             0.06
7       2017-05-02 07:20:00        tmc  114N51536      51.18             0.06
8       2017-05-02 07:25:00        tmc  114N51536      51.18             0.06
9       2017-05-02 07:30:00        tmc  114N51536      51.18             0.06
10      2017-05-02 07:35:00        tmc  114N51536      51.18             0.06
11      2017-05-02 07:40:00        tmc  114N51536      45.44             0.07
12      2017-05-02 07:45:00        tmc  114N51536      44.00             0.07
13      2017-05-02 07:50:00        tmc  114N51536      44.00             0.07
14      2017-05-02 07:55:00        tmc  114N51536      44.00             0.07
15      2017-05-02 08:00:00        tmc  114N51536      44.00             0.07
16      2017-05-02 08:05:00        tmc  114N51536      44.00             0.07
17      2017-05-02 08:10:00        tmc  114N51536      44.00             0.07
18      2017-05-02 08:15:00        tmc  114N51536      44.00             0.07
19      2017-05-02 08:20:00        tmc  114N51536      44.00             0.07
20      2017-05-02 08:25:00        tmc  114N51536      44.00             0.07
21      2017-05-02 08:30:00        tmc  114N51536      44.00             0.07
22      2017-05-02 08:35:00        tmc  114N51536      44.00             0.07
23      2017-05-02 08:40:00        tmc  114N51536      44.00             0.07
24      2017-05-02 08:45:00        tmc  114N51536      44.00             0.07
25      2017-05-02 08:50:00        tmc  114N51536      44.00             0.07
26      2017-05-02 08:55:00        tmc  114N51536      44.00             0.07
...                     ...        ...        ...        ...              ...
3197609 2017-05-03 04:55:00        tmc  114N50258      44.47             0.15
3197610 2017-05-03 05:00:00        tmc  114N50258      44.47             0.15
3197611 2017-05-03 05:05:00        tmc  114N50258      44.47             0.15
3197612 2017-05-03 05:10:00        tmc  114N50258      44.47             0.15
3197613 2017-05-03 05:15:00        tmc  114N50258      32.49             0.20
3197614 2017-05-03 05:20:00        tmc  114N50258      33.23             0.20
3197615 2017-05-03 05:25:00        tmc  114N50258      33.23             0.20
3197616 2017-05-03 05:30:00        tmc  114N50258      33.23             0.20
3197617 2017-05-03 05:35:00        tmc  114N50258      33.23             0.20
3197618 2017-05-03 05:40:00        tmc  114N50258      35.58             0.19
3197619 2017-05-03 05:45:00        tmc  114N50258      45.00             0.14
3197620 2017-05-03 05:50:00        tmc  114N50258      45.00             0.14
3197621 2017-05-03 05:55:00        tmc  114N50258      45.00             0.14
3197622 2017-05-03 06:00:00        tmc  114N50258      45.80             0.14
3197623 2017-05-03 06:05:00        tmc  114N50258      46.00             0.14
3197624 2017-05-03 06:10:00        tmc  114N50258      46.00             0.14
3197625 2017-05-03 06:15:00        tmc  114N50258      46.00             0.14
3197626 2017-05-03 06:20:00        tmc  114N50258      46.00             0.14
3197627 2017-05-03 06:25:00        tmc  114N50258      46.00             0.14
3197628 2017-05-03 06:30:00        tmc  114N50258      46.00             0.14
3197629 2017-05-03 06:35:00        tmc  114N50258      46.00             0.14
3197630 2017-05-03 06:40:00        tmc  114N50258      46.00             0.14
3197631 2017-05-03 06:45:00        tmc  114N50258      46.00             0.14
3197632 2017-05-03 06:50:00        tmc  114N50258      46.00             0.14
3197633 2017-05-03 06:55:00        tmc  114N50258      46.00             0.14

[2271845 rows x 5 columns]

In [4]:
hours = list(range(0, 24))
for hour in hours:
    df_time = tt_by_hour(df, hour)
    df_tmc = pd.merge(df_tmc, df_time, on='source_id', how='left')

df_tmc.to_csv('may_2017.csv', index=False)

NameError: name 'df_tmc' is not defined